
<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style=""></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
			
					<span class="login100-form-title p-b-59">
						S'inscrire
					</span>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
			<span class="focus-input100"></span>
     <%= f.label :email %><br />
     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
   </div>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="">Prénom enfant</span><br />
						<%# <input class="input100" type="text" name="username" placeholder="Archibald ..."> %>
                <%= f.text_field :child_name%><br />

						<span class="focus-input100"></span>
					</div>


  <div class="field">
    <div class="wrap-input100 validate-input" data-validate = "Password is required">
      <span class="focus-input100"></span>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> Charactères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
			</div>
  </div>

  <div class="field">
   <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
     <span class="focus-input100"></span>					
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
  </div>

  <div class="actions">
  <div class="container-btn btn btn-primary">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
    <%= f.submit "S'inscrire", class: 'remove-submit-btn-style' %>
  </div>
  </div>
  </div>
<% end %>


<%= render "devise/shared/links" %>
