

<div class="container">



  <%# <h3>   <%= link_to "ROOT", root_path(), class: "nav-link" %> </h3>

                                     <%# root_path(:score => 0) %>


  <%# <h3> Session : <%= @session.inspect %> </h3>  
 <h5 id="score" class= "d-flex justify-content-center mt-5" >0</h5> 


  <div class="text-center" id="sub-container">
    <%# <h1 id="score" class="">OU EST : EVA ?</h1> %>
 
    <%= image_tag("emoji-smile-fill", {:style => "width:50px;", class: "unactivated smile"}) %>
    <%= image_tag("emoji-smile-fill", {:style => "width:50px;", class: "unactivated smile"}) %>
    <%= image_tag("emoji-smile-fill", {:style => "width:50px;", class: "unactivated smile"}) %>
  

  <h1>NIVEAU : <span id="level"><%= @score%></span></h1>
    <h1 id="message">où est écrit : <%=@user.child_name.upcase%> ?</h1>




    <div class="m-3" id="words-div">
      <%# <ul class="list-group" id="words"> %>
        <% @Words.each do |word|  %>

         <% if word==@user.child_name.upcase %>
          <%= link_to  word, "", class: "btn btn-secondary m-1 ",id: "child_name", remote: true  %>
          <%else%> 
          <%= link_to  word, "", class: "btn btn-secondary word m-1", remote: true  %>
          <%end%>

        <% end %>
      <%# </ul> %>
    </div>
</div>
 
  <div class="text-center " id="sub-sub-container"></div>



    <%# <button type="button" class="btn btn-info">recevoir un email</button> %>






<%= javascript_include_tag 'game1' %>
