


<div class=" d-flex justify-content-around">
    <div class="">
      <div class="container " id="gifDisplay">
        <div class="row ml-3 justify-content-center">
        <div class="col-lg-10 offset-lg-1">  
  <div class="">



     <div class="d-flex justify-content-around  ">             
               <% @cart_gif.each_with_index do |gif,index|  %>
                <div class=" card">
                <%= image_tag gif.url, :alt => "image",class:"m-1 text-center",id:" ",style: "height:100px;" %>
               
                 <h5 class="niveau text-center">Niveau <%="#{index+1}"%> </h5>
                  <%# <img class="card-img-top" src="<%= gif.url %>
               
                </div>
              <%end%>    
            </div>



    <div class="d-flex justify-content-center">
     
            <div class="  m-5">
              <%= image_tag '_cat.png', :alt => "cat image",class:"m-1 card-img",id:"_cat",style: "" %> 
              <%= link_to  cart_path(current_user.cart.id, :category => "cat"), class: "btn btn-secondary m-1 ",id: "btn-cat", remote: true, method: "PUT"  do%>
                 CHAT
              <% end%>
            </div>

            <div class="  m-5">
              <%= image_tag '_dog.png', :alt => "dog image",class:"m-1 card-img",id:"_dog",style: "" %> 
              <%= link_to  cart_path(current_user.cart.id, :category => "dog"), class: "btn btn-danger m-1 ",id: "btn-dog", remote: true, method: "PUT"  do%>
                 CHIEN
              <% end%>
            </div>

            <div class="  m-5">
              <%= image_tag '_rabbit.png', :alt => "rabbit image",class:"m-1 card-img",id:"_rabbit",style: "" %> 
              <%= link_to  cart_path(current_user.cart.id, :category => "rabbit"), class: "btn btn-primary m-1 ",id: "btn-rabbit", remote: true, method: "PUT"  do%>
                LAPIN
              <% end%>
            </div>
         
            <div class="  m-5">
              <%= image_tag '_chicken.png', :alt => "chicken image",class:"m-1 card-img",id:"_chicken",style: "" %>
              <%= link_to  cart_path(current_user.cart.id, :category => "chicken"), class: "btn btn-warning m-1 ",id: "btn-chicken", remote: true, method: "PUT"  do%>
                POULE
              <% end%> 
            </div>
        <%# <%= text_field_tag :category, nil, class: "form-control", placeholder: @category %> 
      <%# <a href="<%= item_path(item.id) %>
      <%# <%= image_tag '_cat.png', :alt => "cat image",class:"m-1",id:"_cat",style: "height:100px;" %> 
      <%# <%= image_tag '_dog.png', :alt => "dog image",class:"m-1",id:"_dog",style: "height:100px;" %> 
      <%# <%= image_tag '_rabbit.png', :alt => "rabbit image",class:"m-1",id:"_rabbit",style: "height:100px;" %> 
      <%# <%= image_tag '_chicken.png', :alt => "chicken image",class:"m-1",id:"_chicken",style: "height:100px;" %> 
      <%# </a> %>
    </div>
    
             <%# <div  class="card-columns" > %>
         
           
          </div>
        </div>
      </div>

    </div>
  </div>
  



</div>




<script>



  function refreshSet (m) {
    console.log(m)
    let gifSet = document.getElementById("gifSet")
    gifSet.innerHTML="";
    gifSet.insertAdjacentHTML("beforeend", '<%= image_tag("cat1.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
    gifSet.insertAdjacentHTML("beforeend", '<%= image_tag("cat2.gif", {:style => "width:200px", class:"text-center m-2"}) %>')                                                                 
    gifSet.insertAdjacentHTML("beforeend", '<%= image_tag("cat3.gif", {:style => "width:200px", class:"text-center m-2"}) %>')                                                                 
    gifSet.insertAdjacentHTML("beforeend", '<%= image_tag("cat4.gif", {:style => "width:200px", class:"text-center m-2"}) %>')                                                                                                                             
                                                                      // image_tag("cat#{@score}.gif"
  }

    document.getElementById("_cat").addEventListener("click", () => {
    refreshSet("cat");})

    document.getElementById("_dog").addEventListener("click", () => {
    document.getElementById("gifSet").innerHTML=""
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("dog1.gif", {:style => "width:200px", class:"text-center m-2"}) %>')
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("dog2.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("dog3.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("dog4.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
   })

       document.getElementById("_rabbit").addEventListener("click", () => {
    document.getElementById("gifSet").innerHTML=""
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("rabbit1.gif", {:style => "width:200px", class:"text-center m-2"}) %>')
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("rabbit2.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("rabbit3.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("rabbit4.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
   })

       document.getElementById("_chicken").addEventListener("click", () => {
    document.getElementById("gifSet").innerHTML=""
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("chicken1.gif", {:style => "width:200px", class:"text-center m-2"}) %>')
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("chicken2.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("chicken3.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
    document.getElementById("gifSet").insertAdjacentHTML("beforeend", '<%= image_tag("chicken4.gif", {:style => "width:200px", class:"text-center m-2"}) %>')  
   })





</script>